.cont_buscar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

.profissionais_items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1400px;
    height: inherit;
    gap: 3rem;
}


.filtro {
    border: 1px solid green;
}

.profissionais {
    border: 1px solid yellow;
}